/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 @tailwind forms;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7733f6;
  --ifm-color-primary-dark: #5545af;
  --ifm-color-primary-darker: #4c016c;
  --ifm-color-primary-darkest: #61005f;
  --ifm-color-primary-light: #9c058f;
  --ifm-color-primary-lighter: #9307ba;
  --ifm-color-primary-lightest: #d113e2;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7733f6;
  --ifm-color-primary-dark: #5545af;
  --ifm-color-primary-darker: #4c016c;
  --ifm-color-primary-darkest: #61005f;
  --ifm-color-primary-light: #9c058f;
  --ifm-color-primary-lighter: #9307ba;
  --ifm-color-primary-lightest: #d113e2;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

input[type='range'] {
  -webkit-appearance: none !important;
  height:7px;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background:var(--ifm-color-primary);
  height:15px;
  width:15px;
  border-radius: 100%;
}